<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='Assets/favicon.png') }}" type="image/x-icon">

  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename = 'Assets/logo1.png') }}" height="60" class="d-inline-block align-top" alt="ImageSearch Logo" /></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}#privacy-policy">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}#contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}#terms-conditions">Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}#shipping">Shipping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}#returns">Returns</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h2>Login</h2>
      <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="username" placeholder="Enter email" name="username" />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>
